/* Настройки ========================== */
html{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Condenced', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #888888;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

ul,
li{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header ============================= */
.header{
	text-align: center;
}

.header__logo{
	margin: 88px 0 60px;
}

.header__menu{
	border-top: 2px solid #c4c4c4;
}

.header__menu-list{
	display: flex;
	justify-content: center;
}

.header__menu-list li{
	max-width: 300px;
	width: 100%;
}

.header__menu-list-link{
	font-size: 24px;
	line-height: 28px;
	color: #888888;
	display: block;
	max-width: 300px;
	width: 100%;
	padding: 34px 10px 38px;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	/* margin-top: -1px; */
	transition: all 0.3s;
}

.header__menu-list-link:hover,
.header__menu-list-link.active{
	color: #fff;
	background-color: #000;
}

.header__menu-list li:first-child a{
	border-left: 2px solid #c4c4c4;
}

.header__menu-list li:last-child a{
	border-right: 2px solid #c4c4c4;
}


/* Slider ============================= */
.slider-item{
	min-height: 600px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}	

.slider .slick-arrow{
	border: none;
	outline: none;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	cursor: pointer;
	z-index: 1;
}

.slider .slick-next{
	left: auto;
	right: 20px;
}


/* Search ============================= */
.search__inner{
	margin: 60px 0 70px;
}

.search__form{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.search__form-label{
	font-size: 24px;
	font-size: 24px;
	font-weight: 400;
	max-width: 174px;
	color: #888888;
	margin-right: 70px;
}

.search__form-input{
	height: 70px;
	padding: 0 15px;
	border: 2px solid #C4C4C4;
	outline: none;
	max-width: 430px;
	width: 100%;
	color: #888888;
}

.search__form-input::placeholder{
	font: 400 18px/24px 'Roboto Condenced', sans-serif;
	color: #888888;
}

.search__form-btn{
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	padding: 23px 23px 23px 36px;
	height: 70px;
	background-color: #C4C4C4;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
}

.search__form-btn::before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	width: 18px;
	height: 18px;
	background-image: url(../images/search_icon.svg);
}


/* Popular ============================ */
.popular{
	text-align: center;
}
.popular__title{
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 64px;
	background-color: #000;
	color: #fff;
	padding: 18px 15px;
	margin: 0;
	margin-bottom: 100px;
}

.popular__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 200px;
}

.popular-item img{
	border-radius: 50%;
	width: 280px;
	height: 280px;
	object-fit: cover;
}

.popular-item-title{
	margin: 30px 0;
	font-size: 24px;
	line-height: 24px;
	color: #888888;
	font-weight: 400;
}

.popular-item a{
	display: inline-block;
	background-color: #C4C4C4;
	border: 2px solid #C4C4C4;
	color: #fff;
	padding: 13px 50px;
}


/* Reason ============================= */
.reason{
	margin-bottom: 100px;
}

.reason__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.reason-item{
	max-width: 470px;
	color: #000;
}

.reason-item-title{
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 20px 0;
	padding-left: 136px;
	position: relative;
}

.reason-item-title::before{
	content: '';
	position: absolute;
	background-image: url(../images/reason_clock-icon.png);
	background-repeat: no-repeat;
	left: 0;
	width: 103px;
	height: 103px;
}

.reason-item:last-child .reason-item-title::before{
	background-image: url(../images/reason_earth-icon.png);
}

.reason-item-text{
	margin: 0 0 40px 0;
}

.reason-item-link{
	color: #888888;
	padding-left: 36px;
	position: relative;
}

.reason-item-link::before{
	content: '';
	position: absolute;
	background-image: url(../images/reason_arrow-icon.svg);
	background-repeat: no-repeat;
	left: 0;
	bottom: 50%;
	transform: translateY(50%);
	width: 30px;
	height: 30px;
}


/* Cottage ============================ */
.cottage{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.cottage__inner{
	text-align: right;
}

.cottage__title{
	max-width: 450px;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #fff;
	padding-top: 68px;
	margin: 0;
	margin-left: auto;
	margin-bottom: 20px;
}

.cottage__link{
	line-height: 18px;
	text-decoration: none;
	color: #fff;
	background: #020202;
	padding: 17px;
	display: inline-block;
}


/* About ============================== */
.about{
	background-color: #000;
	padding: 100px 0;
	color: #fff;
}

.about__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about__our-managers{
	max-width: 297px;
	text-align: center;
}

.about-block-title{
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	margin: 0;
	text-align: center;
}

.our-managers-title{
	margin-bottom: 27px;
}

.our-managers-items{
	display: flex;
	justify-content: space-between;
}

.our-managers-item-img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	object-fit: cover;
	margin: 0 auto 30px auto;
}

.our-managers-item-list{
	line-height: 21px;
	margin-bottom: 54px;
}

.our-managers-item-btn{
	line-height: 18px;
	color: #000;
	padding: 16px 21px;
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}


.about__blog{
	/* max-width: 411px; */
}

.about__blog-title{
	margin-bottom: 47px;
}

.blog-list-item{
	padding: 3px 0;
}

.blog-list-item + .blog-list-item{
	margin-top: 18px;
}

.blog-list-link{
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	padding-left: 67px;
	position: relative;
	display: inline-block;
}

.blog-list-link::before{
	content: '';
	background-image: url(../images/about_arrow-icon.svg);
	position: absolute;
	left: 0;
	bottom: 50%;
	transform: translateY(50%);
	width: 30px;
	height: 30px;
}


.about__reviews{
	max-width: 300px;
}

.about__reviews-title{
	margin-bottom: 47px;
}

.about__reviews-img{
	display: block;
	width: 300px;
	height: 127px;
	object-fit: cover;
}

.about__reviews-text{
	font-size: 18px;
	line-height: 21px;
	margin: 22px 0;
}

.about__reviews-btn{
	line-height: 18px;
	color: #000;
	padding: 16px 28px;
	background-color: #fff;
	border: none;
	outline: none;
	display: inline-block;
}


/* footer ============================= */
.footer__top {	
	background-color: #000;
	padding: 100px 0;
}

.footer__top__inner {
	display: flex;
	align-items: center;
}

.top-menu-link {
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	text-decoration: none;
}

.footer__top-form {
	display: flex;
	align-items: center;
	margin-left: 130px;
	width: 100%;
}

.footer__top-form-label {
	max-width: 82px;
	margin-right: 15px;
	line-height: 18px;
}

.footer__top-form-input {
	font-family: 'Roboto Condenced', serif;
	font-size: 18px;
	line-height: 24px;
	max-width: 511px;
	width: 100%;
	height: 70px;
	padding: 0 15px;
	color: #888888;
	background-color: #fff;
	outline: none;
	border: 2px solid #C4C4C4;
}

.footer__top-form-input::placeholder{
	font-family: 'Roboto Condenced', serif;
	font-size: 18px;
	line-height: 24px;
	color: #888888;
}

.footer__top-form-btn {
	display: block;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	padding: 26px 36px;
	height: 70px;
	background-color: #C4C4C4;
	border: none;
	outline: none;
	cursor: pointer;
}

.footer__logo {
	text-align: center;
	padding: 12px 0 20px;
}




/* Media ============================== */
@media (max-width: 1220px){
	.popular-item{
		width: 50%;
		margin-bottom: 50px;
	}

	.popular-item img{
		width: 400px;
		height: 400px;
	}
}


@media (max-width: 1200px){
	.header__logo{
		margin: 30px 0 60px;
	}

	.header__logo img{
		max-width: 300px;
	}

	.header__menu-list-link{
		padding: 25px 10px 25px;
	}

	.slider-item{
		min-height: 500px;
	}
}


@media (max-width: 1140px){
	.popular__inner,
	.popular__title,
	.reason{
		margin-bottom: 50px;
	}

	.about{
		padding: 50px 0;
	}

	.footer__top{
		padding: 50px 0;
	}

	.about__reviews{
		max-width: 100%;
		width: 100%;
		margin-top: 50px;
	}

	.about__reviews-title{
		text-align: left;
	}

	.about__reviews-text{
		max-width: 300px;
	}
}


@media (max-width: 1040px){
	.reason-item{
		max-width: 100%;
	}

	.reason-item:first-child{
		margin-bottom: 50px;
	}

	.reason-item-title{
		padding-left: 70px;
		margin: 0 0 40px 0;
	}

	.reason-item-title::before{
		width: 50px;
		height: 50px;
		top: 50%;
		transform: translateY(-50%);
		background-size: cover;
	}

	.reason-item-text {
		margin: 0 0 20px 0;
  	}
}


@media (max-width: 940px){
	.slider-item {
		min-height: 400px;
  }

  .search__form {
		flex-wrap: wrap;
	}

	.search__form-label{
		max-width: 100%;
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center;
	}

	.popular-item img{
		width: 280px;
		height: 280px;
	}

	.cottage__title{
		font-size: 36px;
		line-height: 36px;
	}

	.footer__top-form{
		margin-left: 70px;
	}
}


@media (max-width: 810px){
	.about__blog{
		width: 100%;
		margin: 50px 0;
	}

	.about__blog-title{
		text-align: left;
	}

	.about__reviews{
		margin-top: 0;
	}
}


@media (max-width: 768px){
	.header__logo {
		margin: 30px 0 30px;
  }

  .header__menu-list-link {
	  	font-size: 20px;
		padding: 20px 10px 20px;
	}

	.popular__title{
		font-size: 36px;
    	line-height: 44px;
	}

	.reason-item-title{
		font-size: 30px;
		line-height: 30px;
		margin: 0 0 25px 0;
	}

	.footer__top__inner{
		flex-wrap: wrap;
	}

	.footer__top-menu{
		margin-bottom: 50px;
	}

	.footer__top-form{
		margin-left: 0;
		flex-wrap: wrap;
	}

	.footer__top-form-label{
		max-width: 100%;
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.footer__top-form-input{
		max-width: 50%;
	}
}


@media(max-width: 640px){
	.popular-item{
		width: 100%;
	}

	.popular-item img{
		width: 400px;
		height: 400px;
	}
}


@media (max-width: 600px){
	.search__form-input{
		max-width: 60%;
	}
}


@media (max-width: 500px){
	.logo img{
		width: 250px;
	}

	.header__menu{
		border: none;
		border-bottom: 1px solid #c4c4c4;
	}

	.header__menu-list{
		display: block;
	}

	.header__menu-list li{
		max-width: 100%;
	}

	.header__menu-list-link{
		max-width: 100%;
		border: none;
		border-top: 1px solid #c4c4c4;
	}

	.header__menu-list li:first-child a,
	.header__menu-list li:last-child a{
		border: none;
		border-top: 1px solid #c4c4c4;
	}

	.about-block-title{
		font-size: 36px;
		font-weight: 36px;
	}

	.footer__top-form-input{
		max-width: 100%;
	}

	.footer__top-form-btn{
		width: 100%;
	}
}


@media (max-width: 440px){
	.popular-item img{
		width: 280px;
		height: 280px;
	}
}


@media (max-width: 414px){
	.header__logo {
		margin: 0px 0 10px;
  }

  .header__menu-list-link {
		padding: 15px 10px 15px;
  }

  .search__form-input{
		max-width: 100%;
		text-align: center;
	}

	.search__form-btn{
		width: 100%;
	}

	.search__form-btn::before{
		display: none;
	}

	.reason-item-title{
		font-size: 26px;
		line-height: 26px;
	}

	.about__reviews-img{
		width: 290px;
	}

	.blog-list-link{
		padding-left: 50px;
	}
}